<div class="counter-wrapper">
  <div class="counter">
    <button class="minus">-</button>
    <img src="./icons/alarm.svg" class="alarm" />
    <button class="plus">+</button>
  </div>
</div>
<div class="counter-wrapper">
  <div class="counter">
    <button class="minus">-</button>
    <img src="./icons/user.svg" class="alarm" />
    <button class="plus">+</button>
  </div>
  <div class="counter">
    <button class="minus">-</button>
    <img src="./icons/hat.svg" class="alarm" />
    <button class="plus">+</button>
  </div>
</div>
<div class="startdiv">
  <button class="start" id="start">Start</button>
</div>
